{
    "config" : [
    "remote=true",
    "sniffer=true",
    "backuplog=true",
    "remote_storage_server=YOUR_SERVER",
    "remote_database=YOUR_DB",
    "remote_storage_user=YOUR_DB_USR",
    "remote_storage_password=YOUR_DB_PSWD",
],
"sync_engines" : [
    [
    "engine=dropbox",
    "oc_server=dropbox.com",
    ],
    [
    "engine=seafile",
    "oc_server=YOUR_SERVER",
    "oc_account_name=YOUR_USR",
    "oc_account_password=YOUR_PSWRD",
    "oc_server_folder=YOUR_LIB",
    "oc_webdav_endpoint=4.3.2",
    "oc_ssl_enabled=True",
    ],
    [
    "engine=owncloud",
    "oc_server=YOUR_SERVER",
    "oc_account_name=YOUR_ACC",
    "oc_account_password=YOUR_PSW",
    "oc_server_folder=YOUR_REMOTE_FOLDER",
    "oc_sync_cmd=YOUR_CMD_DIR",
    "oc_webdav_endpoint=YOUR_WEBDAV",
    "oc_account_reset_procedure=webdav_delete",
    "oc_ssl_enabled=true",
    ],
],
"tests" : [
    {
    "runid" : "testrun",
    "test_name" : "performance/test_syncperf.py",
    "testset" : "0"
    },
    {
    "runid" : "testrun",
    "test_name" : "test_nplusone.py",
    "testset" : "1"
    },
],
"loop" : 1,
"ensure_net_qos" : 10,
"timeout" : 3600,
}